# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/compiler/build/
/compiler/nbproject/
/compiler/target/
/compiler/dist/
compiler/goldenFile/
compiler/.classpath
compiler/.project
compiler/.settings/
ide/vscode/sric-language/node_modules/
ide/vscode/sric-language/package-lock.json
build/
output/
lib/

bin/
